html, body * {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

body {
  padding: 50px;
  /* background-image: url('../images/grey.png');
  background-repeat: repeat; */
}

.mr-3 {
  margin-right: 16px!important;
}
.f6 {
  font-size: 12px!important;
}
.mt-2 {
  margin-top: 8px!important;
}
.text-gray {
  color: #586069!important;
}
.repo-language-color {
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 1px;
  width: 12px;
}
.res-image {
  height: 20px; 
  width: 20px;
  cursor: pointer;
}
.card {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px #dedede;
}
.repo-article {
  font-size: 13px;
  color: black;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  width: 700px;
  display: block;
}
.mt-15 {
  margin-top: 15px;
}

ul {
  list-style-type: none;
  padding-left: 5px;
}

ul li {
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 0 8px;
  padding-left: 20px;
}

ul[id^=twitter-] li{
  background-image: url('https://abs.twimg.com/favicons/favicon.ico');
}

ul[id^=hn-] li {
  background-image: url('https://news.ycombinator.com/favicon.ico');
}

ul[id^=reddit-] li{
  background-image: url('https://www.redditstatic.com/desktop2x/img/favicon/favicon-16x16.png');
}