<html>
    <head>
        <meta charset="UTF-8">
        <title>TrendTalks</title>
        <link rel="stylesheet" href="stylesheets/style.css">        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <ul>
            <% repos.forEach(function(repo){ %>
                <li>
                    <b><%= repo.author%> / <%= repo.name%></b>
                </li>
            <% }); %>
        </ul>
    </body>
</html>